.notification-overlay {
  overflow-x: clip;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100svh;
  background-color: #17293880;
  z-index: 999;
  backdrop-filter: blur(10px);
  display: none;
  justify-content: flex-end;
  .notification-list-holder {
    transform: translateX(110%);
    padding: 5% 18px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #172938;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    font-family: 'Unbounded', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    
    .notification-main-title {
      padding: 0px 6px;
      font-size: 32px;
      color: #fff;
    }
    .notification-note {
      padding: 0px 6px;
      margin: 16px 0px 8px;
      font-size: 12px;
      line-height: 110%;
      color: #ADBDCB;
    }
    .notification-note-red {
      margin: 0px 0px 18px;
      color: #FF8A8A;
    }
    .notification-list {
      list-style: none;
      max-height: 90%;
      overflow-y: clip;
      .no-notification-note {
        color: #fff;
      }
      .notification-card {
        position: relative;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding: 6px;
        border-bottom: transparent 1px solid;
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 12px 0px;
        .notification-icon-holder {
          min-width: 30px;
          svg {
            width: 100%;
            height: auto;
          }
        }
        .notification-content {
          flex: 1 0 50%;
          .notification-title {
            font-size: 16px;
            color: #fff;
          }
          .notification-message {
            margin: 6px 0px 4px;
            font-size: 12px;
            color: #fff;
            line-height: 110%;
          }
          .notification-timestamp {
            width: 100%;
            display: block;
            text-align: end;
            font-size: 8px;
            color: #ADBDCB;
            line-height: 100%;
          }
        }
        .notification-link {
          position: absolute;
          right: 0px;
          top: 0px;
          svg {
            stroke: #fff2a7;
          }
        }
        &:hover {
          cursor: pointer;
          background-color: #22374A;
        }
      }
      .marketing {
        border-bottom: #fff2a7 1px solid;
        .notification-icon-holder {
          svg {
            stroke: #fff2a7;
          }
        }
        .notification-content {
          .notification-title,
          .notification-message,
          .notification-timestamp {
            color: #fff2a7;
          }
        }
      }
      .notification, .info {
        border-bottom: #EDFEEC 1px solid;
        .notification-icon-holder {
          svg {
            stroke: #EDFEEC;
          }
        }
        .notification-content {
          .notification-title,
          .notification-message,
          .notification-timestamp {
            color: #EDFEEC; 
          }
        }
      }
      .warning  {
        border-bottom: #FF8A8A 1px solid;
        .notification-icon-holder {
          svg {
            stroke: #FF8A8A;
          }
        }
        .notification-content {
          .notification-title,
          .notification-message,
          .notification-timestamp {
            color: #FF8A8A;
          }
        }
      }
    }
    .read {
      opacity: 0.6;
      pointer-events: none;
      user-select: none;
    }
  }
  @media (max-width: 600px) {
    .notification-list-holder {
      width: 75%;
      padding: 20% 12px 12px 12px;
      .notification-main-title {
        font-size: 24px;
      }
      .notification-note {
        font-size: 10px;
        margin: 14px 0px 6px;
      }
      .notification-note-red {
        margin: 0px 0px 12px;
      }
      .notification-list {
        li {
          .notification-card {
            margin: 6px 0px;
            .notification-icon-holder {
              min-width: 24px;
            }
            .notification-content {
              .notification-title {
                font-size: 14px;
              }
              .notification-message {
                font-size: 11px;
                margin: 4px 0px 2px;
              }
            }
            .notification-link {
              svg {
                width: 18px;
              }
            }
          }
        }
      }
    }
  }
}

.notification-overlay-active {
  display: flex;
  .notification-list-holder {
    animation: notificationSlideIn 0.3s ease-in-out forwards;
  }
}
