.single-movie-card {
  position: relative;
  text-decoration: none;
  max-width: 226px;
  a {
    text-decoration: none;
  }
  &:has(img.image-error) {
    height: 338px;
  }
  .image-error {
    min-height: 338px;
    object-fit: cover;
  }
  .movie-card-poster {
    user-select: none;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid var(--Grey, #22374A);
    filter: drop-shadow(3px 4px 6px #18bf7c);
  }
  h2 {
    user-select: none;
    margin: 16px 0px 8px;
    color: var(--White, #FFF);
    font-family: "Red Hat Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  p {
    user-select: none;
    color: var(--Light, #EDFEEC);
    font-family: "Red Hat Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: .8;
  }
  .movie-card-menu-btn-holder {
    position: absolute;
    top: 8px;
    left: 8px;
    width: calc(100% - 16px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px; 
  
    .movie-card-btn-our-recomentation, .movie-card-btn-already-watched, .movie-card-btn-favorites {
      position: relative;
      background-color: transparent;
      border: none;
      .liked {
        stroke: var(--Orange, #F57C36);
        fill: var(--Orange, #F57C36);
        path {
          stroke: var(--Orange, #F57C36) !important;
          fill: var(--Orange, #F57C36) !important;
        }
      }
      .watched {
        stroke: var(--Green, #18BF7C);
          path {
            stroke: var(--Green, #18BF7C) !important;
          }
      }
      &:hover {
        .movie-card-menu-btn-tooltip {
          cursor: pointer;
          opacity: 1;
        }
        .like-button {
          cursor: pointer;
          path {
            stroke: var(--Orange, #F57C36);
            fill: var(--Orange, #F57C36);
          }
        }
        .watched-button {
          cursor: pointer;
          path {
            stroke: var(--Green, #18BF7C) !important;
          }
        }
      }
      .movie-card-menu-btn-tooltip {
        width: 130px;
        position: absolute;
        left: -70px;
        padding: 6px;
        top: -35px;
        transition: .2s ease-in-out;
        
        border-radius: 4px;
        background: rgba(34, 55, 74, 0.50);
        backdrop-filter: blur(20px);
        
        opacity: 0;
        pointer-events: none;
        user-select: none;
        z-index: 9;

        font-family: "Red Hat Display", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        color: var(--Light, #EDFEEC);
      }
    }
  }
  @media (max-width: 600px) {
    min-width: 140px;
    h2 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }
}