  .wof-add-movies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .wof-wheel {
      padding: 18px 18px 0px 18px;
      flex: 0 0 45%;
      aspect-ratio: 1 / 1;
      position: relative;
      border-radius: 50%;
      background: #22374A;
      border: 2px solid #00D5DC;
      .wof-wheel-imgs-holder {
        --_items: 6;
        all: unset;
        aspect-ratio: 1 / 1;
        container-type: inline-size;
        direction: ltr;
        display: grid;
        place-content: center start;
        clip-path: inset(0 0 0 0 round 50%);

        .wof-slice {
          align-content: center;
          background: #06131E;
          display: grid;
          grid-area: 1 / -1;
          list-style: none;
          transform-origin: center right;
          width: 50cqi;
          rotate: calc(360deg / var(--_items) * calc(var(--_idx) - 1));
          height: calc((2 * pi * 50cqi) / var(--_items));
          
          clip-path: polygon(0% -3%, 96% 50%, 0% 102%);

          &:nth-of-type(1) { --_idx: 1; }
          &:nth-of-type(2) { --_idx: 2; }
          &:nth-of-type(3) { --_idx: 3; }
          &:nth-of-type(4) { --_idx: 4; }
          &:nth-of-type(5) { --_idx: 5; }
          &:nth-of-type(6) { --_idx: 6; }
          

          img {
            transform: scale(1.19);
            rotate: calc(-1 * 360deg / var(--_items) * (var(--_idx) - 1));
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .wof-point-element {
        position: absolute;
        top: -50px;
        left: 50%;
        z-index: 3;
        transform: translateX(-50%);

      }

      .wof-middle-logo {
        border-radius: 50%;
        background-color: #22374A;
        padding: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }



    .wof-movie-cards {
      flex: 0 0 45%;
      max-width: 620px;
      margin-top: 60px;
      width: 100%;
      .wof-movie-card-list{
        list-style: none;
        margin: 48px 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
        gap: 16px;
        .wof-movie-card {
          position: relative;
          flex: 1 0 30%;
          max-width: 192px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          background-color: var(--Background, #06131E);
          overflow: hidden;
          .wof-movie-btn {
            width: 100%;
            height: 100%;
            min-height: 288px;
            border: none;
            background-color: transparent;
            .wof-movie-card-img {
              display: block;
              max-width: 100%;
              height: auto;
              transition: .1s ease;
            }
            .wof-add-movie-icon {
              border-radius: 50%;
              path, rect {
                transition: .1s ease;
              }
            }
            .wof-remove-movie-icon {
              border-radius: 50%;
              opacity: 0;
              position: absolute;
              top: 50%;
              left: 50%;
              user-select: none;
              pointer-events: none;
              translate: -50% -50%;
              transition: .1s ease;
              path, rect {
                transition: .1s ease;
              }
            }
            &::after {
              content: attr(data-tooltip);
              position: absolute;
              bottom: 70%;
              left: 50%;
              translate: -50% 0;
              font-size: 11px;
              padding: 6px 10px;
              background: var(--Grey, #22374A);
              color: #fff;
              border-radius: 6px;
              white-space: nowrap;
              opacity: 0;
              pointer-events: none;
              transition: .15s ease;
            }
            &:hover {
              &:has(.wof-remove-movie-icon) {
                .wof-movie-card-img {
                  filter: blur(5px);
                }
              }
              cursor: pointer;
              .wof-add-movie-icon {
                box-shadow: 0 0 10px #18BF7C;
                rect {
                  stroke: #18BF7C;
                }
              }
              .wof-remove-movie-icon {
                opacity: 1;
                box-shadow: 0 0 10px #bc612c;
                rect {
                  stroke: #EF8D53;
                }
              }
              &::after {
                opacity: 1;
                translate: -50% -4px;              
              }
            }
          }
        }
      }
    }
    .wof-start-game {
      position: absolute;
      left: 50%;
      bottom: -100px;
      transform: translateX(-50%);
      border: none;
      padding: 18px 40px;
      background: #18BF7C;
      border-radius: 40px;
      font-family: 'Red Hat Display';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;
      border: 1px solid #18BF7C;
      transition: .3s ease;
      &:hover {
        cursor: pointer;
        background-color: transparent;
        box-shadow: 0 0 10px #18BF7C;
      }
    }
  }