.home-hero {
  padding: 40px 0px 60px;
  background-image: url('../images/home/hero-background.webp');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  .hero-holder {
    .hero-sub-title {
      color: var(--Orange, #EF8D53);
      text-align: center;
      font-family: "Red Hat Display", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    h1 {
      margin: 20px auto 28px;
      max-width: 876px;
      color: var(--White, #FFF);
      text-align: center;
      font-family: 'Unbounded', sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 67.2px */
    }
    .hero-sub-text {
      width: fit-content;
      display: block;
      margin: 0px auto;
      padding: 5.5px 12px;
      border-radius: 4px;
      background: var(--Grey, #22374A);
      color: var(--Green, #18BF7C);
      text-align: center;
      font-family: 'Unbounded', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.64px;
      text-transform: uppercase;
    }
    .hero-text {
      margin: 28px auto 40px;
      color: var(--Light, #EDFEEC);
      text-align: center;
      font-family: "Red Hat Display", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .hero-cta-btn {
      width: fit-content;
      display: block;
      margin: 0px auto;
      text-decoration: none;
      color: #FFF;
      text-align: center;
      font-family: "Red Hat Display", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      padding: 16px 40px;
      border-radius: 80px;
      border: 2px solid var(--Green);
      background: var(--Green, #18BF7C);
      transition: .3s ease;
      &:hover {
        cursor: pointer;
        background: transparent;
        border: 2px solid var(--Green);
        color: var(--Green);
      }
    }
  }
  .movie-card-holder {
    margin-inline: auto;
    margin-top: 80px;
    position: relative;
    height: 320px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      var(--Green) 5%,
      var(--Orange) 95%,
      rgba(0, 0, 0, 0)
    );
    .movie-single-card {
      width: 214px;
      height: 320px;
      border-radius: 6px;
      position: absolute;
      left: max(calc(230px * 12), 100%);
      animation-name: scrollLeft;
      animation-duration: 70s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;      
      p {
        position: absolute;
        bottom: 6px;
        left: 2px;
        color: #ffffff80;
        font-family: "Red Hat Display", sans-serif;
        font-size: 6px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
      }
      &:nth-of-type(1) {
        animation-delay: calc(70s / 12 * (12 - 1) * -1);
      }
      &:nth-of-type(2) {
        animation-delay: calc(70s / 12 * (12 - 2) * -1);
      }
      &:nth-of-type(3) {
        animation-delay: calc(70s / 12 * (12 - 3) * -1);
      }
      &:nth-of-type(4) {
        animation-delay: calc(70s / 12 * (12 - 4) * -1);
      }
      &:nth-of-type(5) {
        animation-delay: calc(70s / 12 * (12 - 5) * -1);
      }
      &:nth-of-type(6) {
        animation-delay: calc(70s / 12 * (12 - 6) * -1);
      }
      &:nth-of-type(7) {
        animation-delay: calc(70s / 12 * (12 - 7) * -1);
      }
      &:nth-of-type(8) {
        animation-delay: calc(70s / 12 * (12 - 8) * -1);
      }
      &:nth-of-type(9) {
        animation-delay: calc(70s / 12 * (12 - 9) * -1);
      }
      &:nth-of-type(10) {
        animation-delay: calc(70s / 12 * (12 - 10) * -1);
      }
      &:nth-of-type(11) {
        animation-delay: calc(70s / 12 * (12 - 11) * -1);
      }
      &:nth-of-type(12) {
        animation-delay: calc(70s / 12 * (12 - 12) * -1);
      }
    }
  }
}