.hot-or-not-holder {
  padding: 48px 0px 220px;
  background-image: url('../images/partials/footer-background.webp');
  background-position: center 60%;
  background-size: cover;
  background-repeat: no-repeat;
  .hot-or-not-container {
    margin: 0px auto;
    max-width: 800px;
    .hot-or-not-subheading {
      color: var(--Orange, #EF8D53);
      text-align: center;
      font-family: "Red Hat Display", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }
    .hot-or-not-heading {
      margin: 20px auto 24px;
      color: var(--White, #FFF);
      text-align: center;
      font-family: 'Unbounded', sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    .hot-or-not-description {
      color: var(--White, #FFF);
      text-align: center;
      font-family: "Red Hat Display", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    .option-card-holder {
      margin-top: 60px;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      gap: 20px;
      .suprise-me-card,
      .add-movie-card {
        flex: 1 0 40%;
        padding: 40px;
        background-color: var(--Background, #06131E);
        border-radius: 12px;

        .svg-icon {
          display: block;
          margin: 0 auto 32px;
        }

        .card-heading {
          text-align: center;
          font-family: 'Unbounded', sans-serif;
          font-size: 24px;
          font-weight: 500;
          line-height: 150%;
        }

        .card-description {
          margin-top: 16px;
          text-align: center;
          color: #FFF;
          font-family: "Red Hat Display", sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: 150%;
        }

        button {
          margin-top: 40px;
          padding: 15px;
          width: 100%;
          display: block;
          color: #FFF;
          font-family: "Red Hat Display", sans-serif;
          font-size: 20px;
          font-weight: 700;
          line-height: 150%;
          border-radius: 40px;
          border: 1px solid;
          transition: .3s ease;
        }
      }
      .suprise-me-card {
        border-bottom: 2px solid var(--Green, #18BF7C);
        .card-heading {
          color: var(--Green, #18BF7C);
        }
        .suprise-start-btn {
          background-color: var(--Green, #18BF7C);
          border-color: var(--Green, #18BF7C);
          &:hover {
            cursor: pointer;
            background-color: transparent;
            box-shadow: 0 0 10px #18BF7C;
          }
        }
      }

      .add-movie-card {
        border-bottom: 2px solid var(--Orange, #EF8D53);
        .card-heading {
          color: var(--Orange, #EF8D53);
        }
        .add-movie-start-btn {
          background-color: var(--Orange, #EF8D53);
          border-color: var(--Orange, #EF8D53);
          &:hover {
            cursor: pointer;
            background-color: transparent;
            box-shadow: 0 0 10px #EF8D53;
          }
        }
      }
    }
    .add-custom-movie-cards-holder {
      margin-top: 60px;
      width: 100%;
      .custom-movie-card-heading {
        border-radius: 8px;
        padding: 16px;
        background-color: var(--Grey, #22374A);
        border-bottom: 2px solid #EF8D53;
        h3 {
          text-align: center;
          font-family: 'Unbounded', sans-serif;
          font-size: 20px;
          font-weight: 500;
          line-height: 150%;
          color: #FFF;
        }
      }
      .custom-movie-card-list {
        list-style: none;
        margin: 48px 0px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 16px;
        .custom-movie-card {
          position: relative;
          flex: 1 0 15%;
          max-width: 144px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          background-color: var(--Background, #06131E);
          overflow: hidden;
          .custom-movie-btn {
            width: 100%;
            height: 100%;
            min-height: 215px;
            border: none;
            background-color: transparent;
            .movie-card-img {
              display: block;
              max-width: 100%;
              height: auto;
              transition: .1s ease;
            }
            .add-movie-icon {
              border-radius: 50%;
              path, rect {
                transition: .1s ease;
              }
            }
            .remove-movie-icon {
              border-radius: 50%;
              opacity: 0;
              position: absolute;
              top: 50%;
              left: 50%;
              user-select: none;
              pointer-events: none;
              translate: -50% -50%;
              transition: .1s ease;
              path, rect {
                transition: .1s ease;
              }
            }
            &::after {
              content: attr(data-tooltip);
              position: absolute;
              bottom: 70%;
              left: 50%;
              translate: -50% 0;
              font-size: 11px;
              padding: 6px 10px;
              background: var(--Grey, #22374A);
              color: #fff;
              border-radius: 6px;
              white-space: nowrap;
              opacity: 0;
              pointer-events: none;
              transition: .15s ease;
            }
            &:hover {
              &:has(.remove-movie-icon) {
                .movie-card-img {
                  filter: blur(5px);
                }
              }
              cursor: pointer;
              .add-movie-icon {
                box-shadow: 0 0 10px #18BF7C;
                rect {
                  stroke: #18BF7C;
                }
              }
              .remove-movie-icon {
                opacity: 1;
                box-shadow: 0 0 10px #bc612c;
                rect {
                  stroke: #EF8D53;
                }
              }
              &::after {
                opacity: 1;
                translate: -50% -4px;              
              }
            }
          }
        }
      }
      .start-game-btn {
        padding: 15px;
        margin: 0px auto;
        width: 257px;
        display: block;
        color: #FFF;
        font-family: "Red Hat Display", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 150%;
        border-radius: 40px;
        border: 1px solid;
        transition: .3s ease;
        background-color: var(--Orange, #EF8D53);
        border-color: var(--Orange, #EF8D53);
        &:hover {
          cursor: pointer;
          background-color: transparent;
          box-shadow: 0 0 10px #EF8D53;
        }
      }
    } 
  }  
}

.hot-or-not-pop-up {
  padding: 8% 0px;
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100svh;
  top: 0px;
  left: 0px;
  z-index: 20;
  background-color: #22374A80;
  backdrop-filter: blur(20px);
  .hot-or-not-pop-up-close-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 40px;
    right: 40px;
    svg {
      border-radius: 50%;
      rect {
        transition: .2s ease;
      }
    }
    &:hover {
      cursor: pointer;
      svg {
        box-shadow: 0 0 10px #18BF7C;
        rect {
          stroke: #18BF7C;
        }
      }
    }
  }
  .hon-pop-up-container {
    margin: 0px auto;
    width: 95%;
    max-width: 1080px;
    .hon-pop-up-title {
      font-family: 'Unbounded';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 140%;
      text-align: center;
      color: #FFFFFF;
    }
    .hon-pop-up-search-box {
      position: relative;
      max-width: 480px;
      padding: 18px 45px 18px 24px;
      margin: 48px auto;
      background: #06131E;
      border: 1px solid #00D5DC;
      box-shadow: 0 0 0 4px rgba(0, 213, 220, 0.15);
      border-radius: 80px;
      transition: .2s ease;

      &:hover,
      &:focus-within {
        box-shadow: 0 0 20px 8px rgba(0, 213, 220, 0.25);
      }

      .hon-pop-up-search-input {
        border: none;
        background-color: transparent;
        width: 100%;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #FFF;

        &::placeholder {
          color: #4E6D87;
        }
        &:focus,
        &:active,
        &:hover {
          outline: none;
          border: none;
          box-shadow: none;
          background-color: transparent;
        }

        &:focus-visible {
          outline: none;
          box-shadow: none;
        }

        /* Prevent autofill from changing colors */
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
          -webkit-text-fill-color: #FFF !important;
          background-color: transparent !important;
          transition: background-color 5000s ease-in-out 0s !important;
        }
      }
      .hon-pop-up-search-input-icon {
        position: absolute;
        right: 20px;
        top: 50%;
        translate: 0% -50%;
      }
    }
    .hon-pop-up-search-results {
      .search-results-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search-results-filter {
          font-family: 'Red Hat Display';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
          color: #FFFFFF;

        }
        .search-results-filter-control {
          .filter-control-back, .filter-control-next {
            border: none;
            background-color: transparent;
            margin-right: 12px;
            svg {
              pointer-events: none;
              user-select: none;
              border-radius: 50%;
              transition: .2s ease;
            }
            &:hover {
              cursor: pointer;
              svg {
                box-shadow: 0 0 5px #18BF7C;
                rect {
                  stroke: #18BF7C;
                }
              }
            }
          }
          .filter-control-next {
            margin-right: 0px;
          }
        }
      } 
      .search-results-content {
        margin-top: 24px;
        display: none;
        justify-content: space-between;
        gap: 8px;
        list-style: none;
        .search-results-content-card {
          position: relative;
          max-width: 190px;
          .search-results-add-movie {
            border: none;
            background-color: transparent;
            position: absolute;
            top: calc(50% - 60px);
            left: 50%;
            translate: -50% -50%;
            .add-movie-icon {
              border-radius: 50%;
              cursor: pointer;
              transition: .2s ease;
              rect {
                transition: .2s ease;
              }
              &:hover {
                box-shadow: 0 0 10px #18BF7C;
                rect {
                  stroke: #18BF7C;
                }
              }
            } 
          }
        }
      }
      .show-filter-results {
        display: flex;
      }
      .no-suggestions {
        padding: 8px 12px;
        font-size: 16px;
        color: #FFD54F;
        font-family: 'Unbounded', sans-serif;
      }
    }
  }
}

.hot-or-not-section {
  .hot-or-not-container {
    .custom-movie-card-heading {
      border-radius: 8px;
      padding: 16px;
      background-color: var(--Grey, #22374A);
      border-bottom: 2px solid #EF8D53;
      h3 {
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
      }
    }    
    .hot-or-not-progress-bar {
      margin: 48px 0px;
      width: 100%;
      .hot-or-not-progress-bar-svg {
        max-width: 100%;
      }
    }
  }

  .hot-or-not-progress-bar {
    .hot-or-not-progress-bar-svg {

      .progress-checkbox {
        opacity: 0;
        transition: opacity 0.3s ease;
      }
  
      .progress-text {
        opacity: 0;
        transition: opacity 0.3s ease;
      }
  
      .progress-label-box {
        opacity: 0;
        transition: opacity 0.3s ease;
      }
  
      .show-checkbox {
        opacity: 1 !important;
      }
  
      .show-number {
        opacity: 1 !important; 
      }
  
      .show-label-box {
        opacity: 1 !important;
      }
  
      .step-circle-border-orange {
        stroke: #FF8B47 !important;
      }
  
      .step-circle-fill-green {
        fill: #18BF7C !important;
        stroke: #18BF7C !important;
      }
  
      .step-path-fill-green {
        stroke: #18BF7C !important;
      }
  
      .progress-circle {
        fill: #06131E;
      }
    }
  }


  .hot-or-not-game-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hon-first-option-card, .hon-second-option-card {
      .movie-card {
        text-align: center;
      }
      .choose-movie-btn {
        margin: 32px 0px 0px;
        width: 100%;
        border: none;
        padding: 10px 18px 11px;
        background: #18BF7C;
        border: 1px solid #18BF7C;
        border-radius: 40px;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
        transition: .2s ease;
        &:hover {
          cursor: pointer;
          background-color: transparent;
          box-shadow: 0 0 10px #18BF7C;
        }
      }
    }
    .hon-option-devider {
      padding: 15px;
      display: block;
      width: fit-content;
      height: fit-content;
      background: #06131E;
      border: 8px solid rgba(0, 213, 220, 0.08);
      backdrop-filter: blur(20px);
      border-radius: 100px;
      .devider-text {
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 53px;
        text-align: center;
        color: #EDFEEC;
      }
    }
  }
}