.questionnaire-holder {
  height: calc(100svh - 104px);
  background-color: var(--Background);
  background-image: url('/images/questionnaire/questionnaire-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  article {
    width: 95%;
    max-width: 720px;
    margin: 0px auto;
    .questionnaire-header {
      width: 100%;
      padding: 16px 20px;
      border-radius: 4px;
      border-bottom: 2px solid var(--Orange, #F57C36);
      background: #172938;
      color: var(--White, #FFF);
      font-family: "Red Hat Display";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    form {
      margin: 32px 0px 48px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      label {
        position: relative;
        flex: 1 0 100%;
        z-index: 2;
        border-radius: 4px;
        background: linear-gradient(90deg, #172938 70%, #172938 100%);
        padding: 18px 20px;
        display: block;
        width: 100%;
        color: var(--White, #FFF);
        font-family: "Red Hat Display";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        transition: 0.3s ease;
        input[type="radio"] {
          appearance: none;
          width: 20px;
          height: 20px;
          background: var(--Background, #06131E);
          margin-bottom: -3px;
          margin-right: 12px;
          border: 1px solid var(--Orange, #F57C36);
          border-radius: 50%;
          outline: none;
          &:checked {
            border: 2px solid rgba(14, 29, 41, 0.40);
            background: var(--Green, #18BF7C);
          }
        }
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 4px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          opacity: 0;
          transition: 0.5s ease;
          background: linear-gradient(90deg, #17293800 20%, #18bf7cb5 100%);
        }
        &:hover {
          cursor: pointer;
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
  .first-question-holder {
    height: 100%;
  }
}