.sm-hero-section {
  position: relative;
  padding: 60px 0px;
  background-image: linear-gradient(180deg, #06131E 0%, #06131E 100%);
  background-color: lightgray;
  background-position: 20% 20% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;

  .sm-hero-holder {
    /* .sm-loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -80%);
      flex: 0 0 auto;
      padding: 24px;
      color: var(--White, #FFF);
      font-family: "Red Hat Display";
      font-size: 26px;
      font-weight: 700;
      line-height: normal;

      
      display: none;
      justify-content: center;
      align-items: center;
      text-align: center;
      opacity: 0;
      animation: appearLoader 2s forwards;
      background-color: #18BF7C;
      border-radius: 50%;
      height: 200px;
      width: 200px;

      &::before {
        text-align: left;
        content: url('../images/partials/circle-around-dot-green.svg');
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        border-radius: 50%;
        animation: circleAroundLoadingOrange 1s infinite ease-in-out forwards;
      }

      &::after {
        text-align: left;
        content: url('../images/partials/circle-around-dot-orange.svg');
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        border-radius: 50%;
        animation: circleAroundLoadingGreen 1s infinite ease-out forwards;
      }
    } */
    /*  */
    .sm-navigation {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 8px;
      list-style: none;
      li, a {
        text-decoration: none;
        color: #A6ABAE;
        text-align: center;
        font-family: "Red Hat Display";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        svg {
          vertical-align: middle;
        }
      }
    }
    /* Single Movie Information  */
    .sm-info {
      margin: 40px 0px;
      display: flex;
      gap: 40px;
      justify-content: space-between;
      align-items: stretch;
      .sm-info-poster {
        position: relative;
        flex: 0 0 28%;
        border-radius: 12px;
        border: 1px solid var(--Grey, #22374A);
        max-width: 356px;
        img {
          border-radius: 12px;
          object-fit: cover;
          height: 100%;
          width: 100%;
          max-width: 100%;
        }
        p {
          text-align: center;
          bottom: -20px;
          width: 100%;
          position: absolute;
          color: var(--White, #FFF);
          text-align: center;
          font-family: "Red Hat Display";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          opacity: 0.6;
        }
      }
      .sm-info-content {
        padding: 40px;
        flex: 1 0 50%;
        border-radius: 12px;
        background: #152533;
        .sm-info-content-title-holder {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .sm-info-content-title {
            display: inline;
            color: var(--White, #FFF);
            font-family: "Red Hat Display";
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          .sm-info-imdb-rating-holder {
            min-width: fit-content;
            img {
              vertical-align: middle;
            }
            svg {
              height: 42px;
              vertical-align: middle;
            }
            p {
              margin: 0px 12px 0px 6px;
              display: inline-block;
              vertical-align: middle;
              color: var(--White, #FFF);
              text-align: center;
              font-family: "Red Hat Display";
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
        .sm-info-content-info {
          display: flex;
          gap: 24px;
          margin: 24px 0px;
          span {
            svg {
              display: inline;
              vertical-align: sub;
              margin-right: 8px;
            }
            p {
              display: inline;;
              color: var(--White, #FFF);
              text-align: center;
              font-family: "Red Hat Display";
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
          hr {
            border-color: var(--Grey, #22374A);;
          }
        }


        .sm-info-content-description {
          margin: 24px 0px 40px;
          .sm-info-content-description-text {
            color: var(--Light, #EDFEEC);
            font-family: "Red Hat Display";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; 
          }
        }



        /* HR Line  */
        hr {
          margin: 16px 0px;
          border-width: 1px;
          border-color: var(--Grey, #22374A);;
        }



        .sm-info-content-director, .sm-info-content-writers, .sm-info-content-cast {
          display: flex;
          h4 {
            margin-right: 8px;
            color: var(--White, #FFF);
            font-family: "Red Hat Display";
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          ul {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
            li {
              color: var(--Orange, #F57C36);
              font-family: "Red Hat Display";
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              svg {
                vertical-align: middle;
                margin: 0px 7px 0px 8px;
              }
              &:first-of-type {
                svg {
                  display: none;
                }
              }
            }
          }
        }


        .sm-info-content-cta {
          margin: 40px 0px 0px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          button {
            flex: 0 0 32%;
            padding: 15px;
            border-radius: 40px;
            border: 1px solid #18BF7C;
            background: #18BF7C;
            color: var(--White, #FFF);
            font-family: "Red Hat Display";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
            transition: .3s ease;
            svg {
              vertical-align: middle;
              margin-right: 10px;
            }
            &:hover {
              cursor: pointer;
              background: #22374A;
            }
          }
          a {
            text-align: center;
            flex: 0 0 32%;
            border-radius: 40px;
            background: var(--Grey, #22374A);
            padding: 15px;
            border: 1px solid #22374A;
            color: var(--White, #FFF);
            font-family: "Red Hat Display";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
            transition: .3s ease;
            svg {
              vertical-align: middle;
              margin-right: 10px;
            }
            &:hover {
              cursor: pointer;
              border: 1px solid  var(--Green, #18BF7C);
              background:  #22374A;
              color: #FFF;
            }
          }
        }
      }
    }
    @media (max-width: 1024px) {
      .sm-info {
        flex-direction: column-reverse;
        .sm-info-poster {
          max-width: 100%;
          img {
            max-height: 600px;
          }
        }
      }
    }

    @media (max-width: 550px) {
      .sm-info {
        .sm-navigation {
          li {
            font-size: 14px;
            a {
              font-size: 14px;
            }
          }
        }
        .sm-info-content {
          padding: 26px 20px;
          .sm-info-content-title-holder {
            .sm-info-content-title {
              font-size: 24px;
            }
            .sm-info-imdb-rating-holder {
              p {
                font-size: 18px;
              }
            }
          }


          .sm-info-content-info {
            margin: 18px 0px;
          }

          .sm-info-content-description {
            margin: 18px 0px;
            .sm-info-content-description-text  {
              font-size: 14px;
            }
          }


          /* Upitno */
          hr {
            display: none;
          }

          .sm-info-content-director, .sm-info-content-writers, .sm-info-content-cast {
            display: none;
            h4 {

            }
            ul {
              li {
                font-size: 13px;
              }
            }
          }

          .sm-info-content-cta {
            flex-wrap: wrap;
            gap: 16px;
            button, a {
              font-size: 16px;
              padding: 11px;
              flex: 1 0 100%;
            }
          }

        }
      }
    }
    .sm-info-donation {
      display: inline-block;
      margin-top: 46px;
      padding: 8px 20px;
      width: 100%;
      border-radius: 4px;
      background: var(--Grey, #22374A);
      backdrop-filter: blur(40px);
      color: var(--White, #FFF);
      text-align: center;
      font-family: "Red Hat Display";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      .donation-text {
        display: inline;
      }
      a {
        margin-left: 8px;
        svg {
          vertical-align: sub;
        }
      }
    }
  }

  @media (max-width: 550px) {
    padding: 32px 0px;
    .sm-hero-holder {
      .sm-loader {
        height: 150px;
        width: 150px;
        font-size: 16px;
        transform: translate(-50%, -100%);
      }
    }
  }
}