.wheel-of-fortune-holder {
  overflow: clip;
  padding: 48px 0px 220px;
  background-image: url('../images/partials/footer-background.webp');
  background-position: center 60%;
  background-size: cover;
  background-repeat: no-repeat;

  .wheel-of-fortune-container {
    position: relative;
    margin: 0px auto;
    width: 95%;
    max-width: 1280px;
    .wheel-of-fortune-subheading {
      color: var(--Orange, #EF8D53);
      text-align: center;
      font-family: "Red Hat Display", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }
    .wheel-of-fortune-heading {
      margin: 20px auto 24px;
      color: var(--White, #FFF);
      text-align: center;
      font-family: 'Unbounded', sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    .wheel-of-fortune-description {
      max-width: 700px;
      margin: 0px auto;
      color: var(--White, #FFF);
      text-align: center;
      font-family: "Red Hat Display", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
  
  .back-button {
    position: absolute;
    left: -80px;
    border: none;
    background-color: transparent;
    padding: 8px 10px 4px;
    background: #22374A;
    border-radius: 12px;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px #EF8D53;
      &::after {
        opacity: 1;
      }
    } 
    &::after {
      content: "Vrati se na početak";
      position: absolute;
      top: -50%;
      left: -50%; /* adjust distance from button */
      transform: translateY(-50%);
      background: #333;
      color: #fff;
      padding: 4px 8px;
      border-radius: 6px;
      font-size: 12px;
      white-space: nowrap;
      pointer-events: none; /* makes it non-interactive */
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
  @media (max-width: 1024px) {
    padding: 48px 0px 200px;
    .wheel-of-fortune-container {
      .wof-add-movies {
        margin: 0px auto;
        max-width: 620px;
        flex-direction: column-reverse;
        .wof-wheel {
          width: 100%;
          margin-top: 38px;
        }
        .wof-movie-cards {
          margin-top: 0px;
        }
      }
    }
  }
  @media (max-width: 600px) {
    padding: 48px 0px 148px;
    .wheel-of-fortune-container {
      .wheel-of-fortune-subheading {
        font-size: 18px;
      }
      .wheel-of-fortune-heading {
        font-size: 32px;
        margin: 10px auto 14px;
      }
      .wheel-of-fortune-description {
        font-size: 16px;
      }
      .wof-add-movies {
        .wof-wheel {
          margin-top: 0px;
          padding: 6px 6px 0px 6px;
          .wof-point-element {
            top: -25px;
            svg {
              max-height: 65px;

            }
          }
          .wof-middle-logo {
            svg {
              max-width: 65px;
              max-height: 65px;
            }
          }
          .wof-start-game {
            width: 100%;
            padding: 10px;
          }

          .wof-wheel-imgs-holder {
            .wof-slice {
              height: calc((2 * 3.141592653589793 * 52cqi) / var(--_items));
              clip-path: polygon(1% -2%, 99% 50%, 0% 102%);
            }
          }




        }
        .wof-movie-cards {
          margin-top: 0px;
          .wof-movie-card-list {
            justify-content: space-evenly;
            .wof-movie-card {
              /* max-width: 175px; */
              min-width: 145px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 375px) {
    .wheel-of-fortune-container {
      .wof-add-movies {
        .wof-movie-cards {
          .wof-movie-card-list {
            .wof-movie-card {
              max-height: 215px;
            }
          }
        }
      }
    }
  }
}


.wheel-of-fortune-pop-up {
  padding: 8% 0px;
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100dvh;
  top: 0px;
  left: 0px;
  z-index: 20;
  background-color: #22374A80;
  backdrop-filter: blur(20px);
  .wheel-of-fortune-pop-up-close-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 40px;
    right: 40px;
    svg {
      border-radius: 50%;
      rect {
        transition: .2s ease;
      }
    }
    &:hover {
      cursor: pointer;
      svg {
        box-shadow: 0 0 10px #18BF7C;
        rect {
          stroke: #18BF7C;
        }
      }
    }
  }
  .wof-pop-up-container {
    margin: 0px auto;
    width: 95%;
    max-width: 1080px;
    .wof-pop-up-title {
      font-family: 'Unbounded';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 140%;
      text-align: center;
      color: #FFFFFF;
    }
    .wof-pop-up-search-box {
      position: relative;
      max-width: 480px;
      padding: 18px 45px 18px 24px;
      margin: 48px auto;
      background: #06131E;
      border: 1px solid #00D5DC;
      box-shadow: 0 0 0 4px rgba(0, 213, 220, 0.15);
      border-radius: 80px;
      transition: .2s ease;

      &:hover,
      &:focus-within {
        box-shadow: 0 0 20px 8px rgba(0, 213, 220, 0.25);
      }

      .wof-pop-up-search-input {
        border: none;
        background-color: transparent;
        width: 100%;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #FFF;

        &::placeholder {
          color: #4E6D87;
        }
        &:focus,
        &:active,
        &:hover {
          outline: none;
          border: none;
          box-shadow: none;
          background-color: transparent;
        }

        &:focus-visible {
          outline: none;
          box-shadow: none;
        }

        /* Prevent autofill from changing colors */
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
          -webkit-text-fill-color: #FFF !important;
          background-color: transparent !important;
          transition: background-color 5000s ease-in-out 0s !important;
        }
      }
      .wof-pop-up-search-input-icon {
        position: absolute;
        right: 20px;
        top: 50%;
        translate: 0% -50%;
      }
    }
    .wof-pop-up-search-results {
      .wof-search-results-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .wof-search-results-filter {
          font-family: 'Red Hat Display';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
          color: #FFFFFF;

        }
        .wof-search-results-filter-control {
          .wof-filter-control-back, .wof-filter-control-next {
            border: none;
            background-color: transparent;
            margin-right: 12px;
            svg {
              pointer-events: none;
              user-select: none;
              border-radius: 50%;
              transition: .2s ease;
            }
            &:hover {
              cursor: pointer;
              svg {
                box-shadow: 0 0 5px #18BF7C;
                rect {
                  stroke: #18BF7C;
                }
              }
            }
          }
          .wof-filter-control-next {
            margin-right: 0px;
          }
        }
      } 
      .wof-search-results-content {
        margin-top: 24px;
        display: none;
        justify-content: space-between;
        gap: 8px;
        list-style: none;
        .wof-search-results-content-card {
          position: relative;
          max-width: 190px;
          .wof-search-results-add-movie {
            border: none;
            background-color: transparent;
            position: absolute;
            top: calc(50% - 60px);
            left: 50%;
            translate: -50% -50%;
            .wof-add-movie-icon {
              border-radius: 50%;
              cursor: pointer;
              transition: .2s ease;
              rect {
                transition: .2s ease;
              }
              &:hover {
                box-shadow: 0 0 10px #18BF7C;
                rect {
                  stroke: #18BF7C;
                }
              }
            } 
          }
        }
      }
      .no-results-found {
        padding: 8px 12px;
        font-size: 16px;
        color: #FFD54F;
        font-family: 'Unbounded', sans-serif;
      }
      .show-filter-results {
        display: flex;
      }
      .no-suggestions {
        padding: 8px 12px;
        font-size: 16px;
        color: #FFD54F;
        font-family: 'Unbounded', sans-serif;
      }
    }
  }
}



.wheel-of-fortune-pop-up {
  padding: 8% 0px;
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100dvh;
  top: 0px;
  left: 0px;
  z-index: 20;
  background-color: #22374A80;
  backdrop-filter: blur(20px);
  .wof-pop-up-close-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 40px;
    right: 40px;
    svg {
      border-radius: 50%;
      rect {
        transition: .2s ease;
      }
    }
    &:hover {
      cursor: pointer;
      svg {
        box-shadow: 0 0 10px #18BF7C;
        rect {
          stroke: #18BF7C;
        }
      }
    }
  }
  .wheel-of-fortune-container {
    margin: 0px auto;
    width: 95%;
    max-width: 1080px;
    .wof-pop-up-title {
      font-family: 'Unbounded';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 140%;
      text-align: center;
      color: #FFFFFF;
    }
    .wof-pop-up-search-box {
      position: relative;
      max-width: 480px;
      padding: 18px 45px 18px 24px;
      margin: 48px auto;
      background: #06131E;
      border: 1px solid #00D5DC;
      box-shadow: 0 0 0 4px rgba(0, 213, 220, 0.15);
      border-radius: 80px;
      transition: .2s ease;

      &:hover,
      &:focus-within {
        box-shadow: 0 0 20px 8px rgba(0, 213, 220, 0.25);
      }

      .wof-pop-up-search-input {
        border: none;
        background-color: transparent;
        width: 100%;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #FFF;

        &::placeholder {
          color: #4E6D87;
        }
        &:focus,
        &:active,
        &:hover {
          outline: none;
          border: none;
          box-shadow: none;
          background-color: transparent;
        }

        &:focus-visible {
          outline: none;
          box-shadow: none;
        }

        /* Prevent autofill from changing colors */
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
          -webkit-text-fill-color: #FFF !important;
          background-color: transparent !important;
          transition: background-color 5000s ease-in-out 0s !important;
        }
      }
      .wof-pop-up-search-input-icon {
        position: absolute;
        right: 20px;
        top: 50%;
        translate: 0% -50%;
      }
    }
    .wof-pop-up-search-results {
      .wof-search-results-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .wof-search-results-filter {
          font-family: 'Red Hat Display';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
          color: #FFFFFF;
        }
        .wof-search-results-filter-control {
          .wof-filter-control-back, .wof-filter-control-next {
            border: none;
            background-color: transparent;
            margin-right: 12px;
            svg {
              pointer-events: none;
              user-select: none;
              border-radius: 50%;
              transition: .2s ease;
            }
            &:hover {
              cursor: pointer;
              svg {
                box-shadow: 0 0 5px #18BF7C;
                rect {
                  stroke: #18BF7C;
                }
              }
            }
          }
          .wof-filter-control-next {
            margin-right: 0px;
          }
        }
      } 
      .wof-search-results-content {
        margin-top: 24px;
        display: none;
        justify-content: space-between;
        gap: 8px;
        list-style: none;
        .wof-search-results-content-card {
          position: relative;
          max-width: 190px;
          .wof-search-results-add-movie {
            border: none;
            background-color: transparent;
            position: absolute;
            top: calc(50% - 60px);
            left: 50%;
            translate: -50% -50%;
            .wof-add-movie-icon {
              border-radius: 50%;
              cursor: pointer;
              transition: .2s ease;
              rect {
                transition: .2s ease;
              }
              &:hover {
                box-shadow: 0 0 10px #18BF7C;
                rect {
                  stroke: #18BF7C;
                }
              }
            } 
          }
        }
      }
      .show-filter-results {
        display: flex;
      }
      .no-suggestions, .no-results-found {
        padding: 8px 12px;
        font-size: 16px;
        color: #FFD54F;
        font-family: 'Unbounded', sans-serif;
      }
    }
  }

  @media (max-width: 1024px) {
    .wheel-of-fortune-container {
      .wof-pop-up-search-results {
        .wof-search-results-content {
          overflow-x: scroll;
          padding-bottom: 20px;
          &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
          }

          &::-webkit-scrollbar-track {
            background: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #18BF7C;
            border-radius: 10px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background-color: #14a86c;
          }
          .search-results-content-card {
            min-width: 190px;
          }
        }
      }
    }
  }
  @media (max-width: 550px) {
    padding: 80px 0px;
    .wof-pop-up-close-btn {
      top: 24px;
      right: 2.5%;
      width: 45px;
      height: 45px;
    }
    .wheel-of-fortune-container {
      .wof-pop-up-title {
        font-size: 24px;
      }
      .wof-pop-up-search-box {
          width: 100%;
          padding: 12px 24px;
          margin: 36px auto 24px;
          background: #06131E;
          border: 1px solid #00D5DC;
          box-shadow: 0 0 0 4px rgba(0, 213, 220, 0.15);
          border-radius: 80px;
          transition: .2s ease;
        .hon-pop-up-search-input {
          font-size: 16px;
        }        
      }
      .wof-pop-up-search-results {
        .wof-search-results-content {
          overflow-x: scroll;
          padding-bottom: 20px;
          &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
          }

          &::-webkit-scrollbar-track {
            background: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #18BF7C;
            border-radius: 10px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background-color: #14a86c;
          }
          .search-results-content-card {
            min-width: 150px;
            max-width: 150px;
          }
        }
      }
    }
  }
}
