.user-settings-tab {
  
  .user-settings-container {
    display: flex;
    
    gap: 12px;


    .user-settings-options-nav {
      flex: 0 0 30%;
      max-width: 260px;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 12px;

      .user-settings-options-nav-link {
        display: flex;
        align-items: center;
        gap: 12px;

        padding: 16px;
        background-color: #172938;
        border-radius: 8px;
        
        transition: .2s ease-in-out;

        .user-settings-options-nav-link-icon {
          pointer-events: none;
          user-select: none;
        }
        .user-settings-options-nav-link-text {
          color: var(--White, #C4D4E3);
          font-family: "Red Hat Display", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          pointer-events: none;
          user-select: none;
        }
        .switch {
          margin-left: auto;
          position: relative;
          display: inline-block;
          width: 50px;
          height: 24px;
        }

        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #EF8D53;
          transition: 0.3s;
          border-radius: 24px;
        }

        .slider::before {
          position: absolute;
          content: "";
          height: 20px;
          width: 20px;
          left: 2px;
          bottom: 2px;
          background-color: white;
          transition: 0.3s;
          border-radius: 50%;
        }

        input:checked + .slider {
          background-color: #18bf7c
        }

        input:checked + .slider::before {
          transform: translateX(26px);
        }
        &:hover {
          cursor: pointer;
          background: linear-gradient(
            to right,
            #172938 0%,      /* start: deep blue-green */
            #18bf7c20 45%,   /* mid fade – very transparent green */
            #18bf7c4b 60%,   /* slightly stronger tint */
            #18bf7c6e 75%,   /* more visible green tone */
            #18bf7c9a 90%,   /* near full green */
            #18bf7c 100%     /* end: solid bright green */
          );



        }
      }
      .active-options-link {
        .user-settings-options-nav-link-icon {
          path {
            stroke: #18bf7c;
          }
        }
        .user-settings-options-nav-link-text {
          color: var(--White, #fff);
          font-weight: 600;
        }
      }
    }

    .user-settings-options-tab {
      flex: 1 0 60%;
      
      padding: 32px;

      background-color: #172938;
    
      border-radius: 12px;

      .user-info-holder {
        width: 100%;
        display: flex;
        gap: 32px;
        flex-direction: column;
        .user-avatar-update {
          display: flex;
          align-items: center;
          gap: 32px;
          .change-user-avatar {
            padding: 13px 32px;
            background-color: #22374A;
            border: none;
            border-radius: 80px;
            border: 2px solid #22374A;

            color: #18BF7C;
            font-family: "Red Hat Display", sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: normal;

            transition: .2s ease;
            &:hover {
              border: 2px solid #18BF7C;
              cursor: pointer;
            }
          }
        }

        .user-general-update {
          display: flex;
          flex-direction: column;
          gap: 24px;
          padding: 32px 0px;
          border-top: 1px  solid #22374A;
          border-bottom: 1px  solid #22374A;
          .user-requests-loader {
            padding: 0px 8px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 12px;
            .loader-label {
              margin-bottom: 12px;
              font-family: "Red Hat Display", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;      
              color: #fff;
            }
            .unlimited {
              width: calc(100% - 125px);
              .unlimited-fill {
                display: block;
                width: 100%;

                height: 8px;
                border-radius: 6px;
                background-color: #FFD700; /* Classic Gold */
                box-shadow: 0 0 8px #FFD70080, 0 0 16px #FFD70040; /* subtle glow */
                border-radius: 6px;
                transition: width 0.3s ease, box-shadow 0.3s ease;
              }
            }
            .unlimited-p {
              min-width: 70px;
              font-family: "Red Hat Display", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;      
              color: #FFD700;      
              text-shadow: 
                0 0 4px #FFD70080,
                0 0 8px #FFD70050,
                0 0 12px #FFD70030;                  
            }
            .loader-bg {
              display: flex;
              align-items: center;
              gap: 12px;
              width: calc(100% - 100px);
              height: 8px;
              border-radius: 6px;
              background-color: #F57C36;
              box-shadow: 0 0 1px #F57C36, 0 0 5px #F57C36;
              border-radius: 6px;
              transition: width 0.3s ease, box-shadow 0.3s ease;        
              .loader-fill {
                display: block;
                height: 8px;
                background-color: #18BF7C;
                box-shadow: 0 0 3px #18BF7C, 0 0 12px #18BF7C;
                border-radius: 6px;
                transition: width 0.3s ease, box-shadow 0.3s ease;  
              }  
            }
            .loader-p {
              min-width: 70px;
              font-family: "Red Hat Display", sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;      
              color: #18BF7C;      
              text-shadow: 
                0 0 4px #18BF7C80,
                0 0 8px #18BF7C50,
                0 0 12px #18BF7C30;
              span {
                font-weight: bold;                
              }                  
            }
            .request-more-btn {
              margin-left: auto;
              padding: 4px 32px;
              background-color: #22374A;
              border: none;
              border-radius: 80px;
              border: 2px solid #22374A;

              color: #18BF7C;
              font-family: "Red Hat Display", sans-serif;
              font-size: 16px;
              font-weight: 700;
              line-height: normal;

              transition: .2s ease;
              &:hover {
                border: 2px solid #18BF7C;
                cursor: pointer;
              }
            }
          }
          .user-general-name, .user-general-email, .user-general-bio {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
            label {
              min-width: 70px;
              font-family: "Red Hat Display", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;      
              color: #C4D4E3; 
            }
            input {
              width: 100%;
              border: none;
              padding: 20px 40px 20px 20px;
              background-color: #06131e7a;
              border-radius: 20px;
              font-family: "Red Hat Display", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;      
              color: #fff; 
              border: 1px solid transparent !important;
              &::placeholder {
                color: #6587A4;
              }
              &:focus, &:focus-visible {
                outline: none !important;
                border: 1px solid var(--Orange) !important;
              }
              &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px #152533 inset !important;
                -webkit-text-fill-color: white !important;
              }
            } 
            svg {
              position: absolute;
              right: 16px;
              top: 18px;
              transition: .2s ease-in-out;
              /* &:hover {
                cursor: pointer;
                path {
                  stroke: #18bf7c;
                }
              } */
            }
          }
          .user-general-password {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
            label {
              min-width: 125px;
              font-family: "Red Hat Display", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;      
              color: #C4D4E3; 
            }
            input {
              width: 100%;
              border: none;
              padding: 20px 40px 20px 20px;
              background-color: #06131e7a;
              border-radius: 20px;
              font-family: "Red Hat Display", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;      
              color: #fff; 
              border: 1px solid transparent !important;
              &::placeholder {
                color: #6587A4;
              }
              &:focus, &:focus-visible {
                outline: none !important;
                border: 1px solid var(--Orange) !important;
              }
              &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px #152533 inset !important;
                -webkit-text-fill-color: white !important;
              }
            } 
            svg {
              position: absolute;
              right: 16px;
              top: 24px;
              transition: .2s ease-in-out;
              &:hover {
                cursor: pointer;
              }
            }
          }
          #password-feedback, #user-update-feedback {
            font-family: "Red Hat Display", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;      
            color: #FF6161; 
          }
        }
        .user-btn-holder {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 24px;
          .cancel-update, .update-user-info {
            background-color: transparent;
            flex: 1 0 45%;
            padding: 13px;
            font-family: "Red Hat Display", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;      
            color: #fff; 
            transition: .2s ease-in-out;
          }
          .cancel-update {
            border: none;
            border-radius: 80px;
            border: 2px solid #EF8D53;
            &:hover {
              cursor: pointer;
              background-color: #EF8D53;
            }
          }
          .update-user-info {
            border: none;
            border-radius: 80px;
            border: 2px solid #18BF7C;
            &:hover {
              cursor: pointer;
              background-color: #18BF7C;
            }
          }
        }
      }
    }
    .user-settings-options-pop-up {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: #17293846;
      backdrop-filter: blur(10px);
      display: flex;
      align-items: center;
      justify-content: center;
      .remove-profile {
        max-width: 90%;
        border-radius: 8px;
        padding: 24px;
        background-color: #22374A;
        .remove-profile-title {
          color: var(--White, #fff);
          font-family: "Red Hat Display", sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-align: center;
        }
        .remove-profile-content {
          margin: 16px 0px 6px;
          color: var(--White, #C4D4E3);
          font-family: "Red Hat Display", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-align: center;
        }
        .remove-profile-note {
          margin: 0px 0px 32px;
          color: var(--White, #FF6161);
          font-family: "Red Hat Display", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-align: center;
        }
        .btn-holder {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 12px;
          .confirm-btn {
            border: none;
            border-radius: 80px;
            flex: 1 0 47%;
            padding: 9px;
            background-color: #18BF7C;
            color: var(--White, #fff);
            font-family: "Red Hat Display", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            transition: .2s ease-in-out;
            &:hover {
              cursor: pointer;
              background-color: #00d25e;
            }
          }
          .cancel-btn {
            border: none;
            border-radius: 80px;
            flex: 1 0 47%;
            padding: 9px;
            background-color: #FF6161;
            color: var(--White, #fff);
            font-family: "Red Hat Display", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            transition: .2s ease-in-out;
            &:hover {
              cursor: pointer;
              background-color: #ff3c3c;
            }
          }
        }
      }
      .change-user-picture {
        border-radius: 8px;
        padding: 24px;
        background-color: #22374A;
        max-width: 90%;
        .change-user-picture-title {
          color: var(--White, #fff);
          font-family: "Red Hat Display", sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-align: center;
        }
        .change-user-picture-content {
          margin: 48px 0px;
          max-width: 850px;
          display: flex;
          justify-content: center;
          gap: 16px;
          flex-wrap: wrap;
          .male-avatar, .female-avatar {
            flex: 1 0 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            .avatar-icon {
              padding: 2px;
              display: block;
              max-width: 100%;
              height: auto;
            }
            .avatar-wrapper {
              border: 3px solid transparent;
            }
            .active-avatar {
              position: relative;
              border-radius: 50%;
              border: 3px solid #18BF7C;
              &::after {
                padding: 0px 0px 0px 3.5px;
                position: absolute;
                z-index: 9999999;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                width: 20px;
                height: 20px;
                content: "✔";
                border-radius: 50%;
                background-color: #18BF7C;
                color: #fff;
              }
            }
          }
        }
        .btn-holder {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 12px;
          .confirm-btn {
            border: none;
            border-radius: 80px;
            flex: 1 0 47%;
            padding: 9px;
            background-color: #18BF7C;
            color: var(--White, #fff);
            font-family: "Red Hat Display", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            transition: .2s ease-in-out;
            &:hover {
              cursor: pointer;
              background-color: #00d25e;
            }
          }
          .cancel-btn {
            border: none;
            border-radius: 80px;
            flex: 1 0 47%;
            padding: 9px;
            background-color: #FF6161;
            color: var(--White, #fff);
            font-family: "Red Hat Display", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            transition: .2s ease-in-out;
            &:hover {
              cursor: pointer;
              background-color: #ff3c3c;
            }
          }
        }
      }
    }
  }
  @media (max-width: 600px) {
    .user-settings-container {
      flex-wrap: wrap;
      .user-settings-options-nav {
        gap: 8px;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 0 100%;
        max-width: 100%;
        .user-settings-options-nav-link {
          gap: 6px;
          flex: 1 0 48%;
          padding: 8px 10px;
          .switch {
            width: 40px;
            height: 20px;
            .round {
              &::before {
                width: 15px;
                height: 15px;
                left: 4px;
                bottom: 3px;
              }
            }
          }
        }
      }
      .user-settings-options-tab {
        padding: 20px;
        .user-info-holder {
          gap: 16px;
          .user-avatar-update {
            gap: 16px;
            .avatar-image {
              max-width: 85px;
            }
            .change-user-avatar {
              flex: 1 0 40%;
              font-size: 14px;
              padding: 10px;
            }
          }
          .user-general-update {
            gap: 12px;
            padding: 16px 0px;
            .user-requests-loader {
              gap: 4px;
              .loader-label {
                order: 1;
              }
              .unlimited {
                order: 3;
                flex: 1 0 100%;
              }
              .unlimited-p {
                order: 2;
              }
            }
            .user-update-feedback {
              font-size: 14px;
            }
            .user-general-name, .user-general-email, .user-general-bio, .user-general-password {
              /* flex-wrap: wrap; */
              gap: 8px;
              label {
                /* flex: 1 0 100%; */
                min-width: 85px;
                font-size: 14px;
              }
              input {
                padding: 14px 20px;
                font-size: 14px;
              }
              svg{
                display: none;
                top: 15px;
              }
            }
            .user-btn-holder {
              margin-top: 8px;
              flex-wrap: wrap;
              gap: 8px;
              .cancel-update, .update-user-info {
                flex: 1 0 100%;
                width: 100%;
                border-width: 1px;
                font-size: 14px;
                padding: 10px;
              }
            }
          }
        }
      }
      .user-settings-options-pop-up {
        .change-user-picture {
          .change-user-picture-content {
            margin: 32px 0px;
            .male-avatar, .female-avatar {
              flex-wrap: wrap;
              span {
                max-width: 55px;
                min-width: 55px;
              }
            }
          }
        }
      }
    }
  }
}