/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  /* Variables */
  --Green: #18BF7C;
  --Orange: #EF8D53;

  --Light: #EDFEEC;
  --Red: #FF6161;
  
  --Background: #06131E;
  --Grey: #22374A;
  --GreyTransparent: #ffffff18;
}